
@media (min-width: 1200px){
    .containerr{
        max-width: 1350px !important;
    }
  }
  .form-grp-date{
      width: 14rem;
  }
  .form-grp-email{
    width: 93%;
    margin-left: 20px;
}

.row-update {
    justify-content: space-around;
}

input {
    padding-left: 1rem !important;
}